/* modal */

.project-modal,
.task-modal,
.details-modal {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    bottom: 0;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    right: 0;
    width: auto;
}

.project-modal-content,
.task-modal-content,
.details-modal-content {
    align-items: center;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 75%;
    margin: auto;
    overflow: auto;
    width: 25%;
}

.project-modal-content {
    max-width: 600px;
    max-height: 350px;
}

.task-modal-content {
    max-width: 600px;
    max-height: 500px;
}

.modal-title {
    background-color: var(--modal-title-color);
    display: flex;
    justify-content: space-between;
    height: 30%;
    margin-bottom: 12px;
    max-height: 70px;
    width: 100%;
    padding: 16px;
}

.modal-title .close-modal {
    align-items: center;
    cursor: pointer;
    display: flex;
    font-size: 20px;
    max-height: 30px;
    padding: 4px;
    transition: background-color 0.1s ease;
}

.modal-title .close-modal:hover {
    background-color: var(--button-active);
}

.modal-buttons {
    display: flex;
    margin-bottom: 8px;
    margin-top: 48px;
    justify-content: center;
    gap: 24px;
}

.modal-buttons .add-button,
.modal-buttons .cancel-button {
    display: inline-block;
    font-weight: bold;
    padding: 12x;
}

.modal-buttons .add-button {
    background-color: #86efac;
    border: 1px solid #4ade80;
}

.modal-buttons .cancel-button {
    background-color: #fca5a5;
    border: 1px solid #ef4444;
}

.modal-buttons .add-button:hover {
    background-color: #4ade80;
}

.modal-buttons .cancel-button:hover {
    background-color: #f87171;
}

.project-name,
.task-name,
.task-description {
    border: 1px solid #aaa;
    margin-bottom: 24px;
    width: 90%;
}

.new-date {
    background-color: transparent;
    border: 1px solid #3ba395;
    border-radius: 5px;
    color: #3ba395;
    font-size: 0.8rem;
    font-weight: 600;
    padding: .5rem 1rem;
    text-transform: uppercase;
}

.due-date {
    align-items: center;
    align-self: flex-start;
    display: flex;
    margin-bottom: 1rem;
    margin-left: 1.5rem;
    white-space: nowrap;
    gap: 12px;
}

.priority-wrapper {
    align-self: flex-start;
    display: flex;
    justify-content: space-between;
    margin-left: 1.5rem;
}

.priority {
    align-items: center;
    display: flex;
}

.priority input[type="radio"] {
    height: 1px;
    left: 2.2rem;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: relative;
    width: 1px;
}

.priority .priority-button.low {
    border: 1px solid green;
    color: green;
}

.priority .priority-button.low:hover {
    background-color: green;
    color: white;
}

.priority input[type="radio"]:checked + .priority-button.low {
    background-color: green;
    color: white;
}

.priority .priority-button.medium {
    border: 1px solid orange;
    color: orange;
}

.priority .priority-button.medium:hover {
    background-color: orange;
    color: white;
}

.priority input[type="radio"]:checked + .priority-button.medium {
    background-color: orange;
    color: white;
}

.priority .priority-button.high {
    border: 1px solid red;
    color: red;
}

.priority .priority-button.high:hover {
    background-color: red;
    color: white;
}

.priority input[type="radio"]:checked + .priority-button.high {
    background-color: red;
    color: white;
}

.priority .priority-button {
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    font-size: 0.8rem;
    font-weight: 700;
    margin: 0 1.5rem 0 -5px;
    padding: .5rem 1rem;
    text-transform: uppercase;
}

.priority .priority-title {
    margin-right: 1.6rem;
}